USE [master]
GO
/****** Object:  Database [BD_PRUEBA]    Script Date: 18/06/2025 16:25:32 ******/
CREATE DATABASE [BD_PRUEBA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_PRUEBA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD_PRUEBA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_PRUEBA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD_PRUEBA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_PRUEBA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_PRUEBA]
GO
/****** Object:  Table [dbo].[MOV_INVENTARIO]    Script Date: 18/06/2025 16:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOV_INVENTARIO](
	[COD_CIA] [varchar](5) NOT NULL,
	[COMPANIA_VENTA_3] [varchar](5) NOT NULL,
	[ALMACEN_VENTA] [varchar](10) NOT NULL,
	[TIPO_MOVIMIENTO] [varchar](2) NOT NULL,
	[TIPO_DOCUMENTO] [varchar](2) NOT NULL,
	[NRO_DOCUMENTO] [varchar](50) NOT NULL,
	[COD_ITEM_2] [varchar](50) NOT NULL,
	[PROVEEDOR] [varchar](100) NULL,
	[ALMACEN_DESTINO] [varchar](50) NULL,
	[CANTIDAD] [int] NULL,
	[DOC_REF_1] [varchar](50) NULL,
	[DOC_REF_2] [varchar](50) NULL,
	[DOC_REF_3] [varchar](50) NULL,
	[DOC_REF_4] [varchar](50) NULL,
	[DOC_REF_5] [varchar](50) NULL,
	[FECHA_TRANSACCION] [date] NULL,
 CONSTRAINT [PK_MOV_INVENTARIO] PRIMARY KEY CLUSTERED 
(
	[COD_CIA] ASC,
	[COMPANIA_VENTA_3] ASC,
	[ALMACEN_VENTA] ASC,
	[TIPO_MOVIMIENTO] ASC,
	[TIPO_DOCUMENTO] ASC,
	[NRO_DOCUMENTO] ASC,
	[COD_ITEM_2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarMovInventario]    Script Date: 18/06/2025 16:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarMovInventario]
    @COD_CIA VARCHAR(5),
    @COMPANIA_VENTA_3 VARCHAR(5),
    @ALMACEN_VENTA VARCHAR(10),
    @TIPO_MOVIMIENTO VARCHAR(2),
    @TIPO_DOCUMENTO VARCHAR(2),
    @NRO_DOCUMENTO VARCHAR(50),
    @COD_ITEM_2 VARCHAR(50),
    @PROVEEDOR VARCHAR(100) = NULL,
    @ALMACEN_DESTINO VARCHAR(50) = NULL,
    @CANTIDAD INT = NULL,
    @DOC_REF_1 VARCHAR(50) = NULL,
    @DOC_REF_2 VARCHAR(50) = NULL,
    @DOC_REF_3 VARCHAR(50) = NULL,
    @DOC_REF_4 VARCHAR(50) = NULL,
    @DOC_REF_5 VARCHAR(50) = NULL
AS
BEGIN
    UPDATE MOV_INVENTARIO
    SET
        PROVEEDOR = @PROVEEDOR,
        ALMACEN_DESTINO = @ALMACEN_DESTINO,
        CANTIDAD = @CANTIDAD,
        DOC_REF_1 = @DOC_REF_1,
        DOC_REF_2 = @DOC_REF_2,
        DOC_REF_3 = @DOC_REF_3,
        DOC_REF_4 = @DOC_REF_4,
        DOC_REF_5 = @DOC_REF_5,
        FECHA_TRANSACCION = GETDATE()
    WHERE
        COD_CIA = @COD_CIA AND
        COMPANIA_VENTA_3 = @COMPANIA_VENTA_3 AND
        ALMACEN_VENTA = @ALMACEN_VENTA AND
        TIPO_MOVIMIENTO = @TIPO_MOVIMIENTO AND
        TIPO_DOCUMENTO = @TIPO_DOCUMENTO AND
        NRO_DOCUMENTO = @NRO_DOCUMENTO AND
        COD_ITEM_2 = @COD_ITEM_2
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultarMovInventario]    Script Date: 18/06/2025 16:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConsultarMovInventario]
    @FechaInicio DATE = NULL,
    @FechaFin DATE = NULL,
    @TipoMovimiento VARCHAR(2) = NULL,
    @NroDocumento VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
		[COD_CIA]
      ,[COMPANIA_VENTA_3]
      ,[ALMACEN_VENTA]
      ,[TIPO_MOVIMIENTO]
      ,[TIPO_DOCUMENTO]
      ,[NRO_DOCUMENTO]
      ,[COD_ITEM_2]
      ,[PROVEEDOR]
      ,[ALMACEN_DESTINO]
      ,[CANTIDAD]
      ,[DOC_REF_1]
      ,[DOC_REF_2]
      ,[DOC_REF_3]
      ,[DOC_REF_4]
      ,[DOC_REF_5]
      ,[FECHA_TRANSACCION]
    FROM dbo.MOV_INVENTARIO
       WHERE (@FechaInicio IS NULL OR FECHA_TRANSACCION >= @FechaInicio)
      AND (@FechaFin IS NULL OR FECHA_TRANSACCION <= @FechaFin)
      AND (@TipoMovimiento IS NULL OR TIPO_MOVIMIENTO LIKE '%' + @TipoMovimiento + '%')
      AND (@NroDocumento IS NULL OR NRO_DOCUMENTO LIKE '%' + @NroDocumento + '%')
   
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Eliminar_MovInventario]    Script Date: 18/06/2025 16:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Eliminar_MovInventario]
    @COD_CIA VARCHAR(5),
    @COMPANIA_VENTA_3 VARCHAR(5),
    @ALMACEN_VENTA VARCHAR(10),
    @TIPO_MOVIMIENTO VARCHAR(2),
    @TIPO_DOCUMENTO VARCHAR(2),
    @NRO_DOCUMENTO VARCHAR(50),
    @COD_ITEM_2 VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM [dbo].[MOV_INVENTARIO]
    WHERE
        COD_CIA = @COD_CIA AND
        COMPANIA_VENTA_3 = @COMPANIA_VENTA_3 AND
        ALMACEN_VENTA = @ALMACEN_VENTA AND
        TIPO_MOVIMIENTO = @TIPO_MOVIMIENTO AND
        TIPO_DOCUMENTO = @TIPO_DOCUMENTO AND
        NRO_DOCUMENTO = @NRO_DOCUMENTO AND
        COD_ITEM_2 = @COD_ITEM_2;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarMovInventario]    Script Date: 18/06/2025 16:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarMovInventario]
    @COD_CIA VARCHAR(5),
    @COMPANIA_VENTA_3 VARCHAR(5),
    @ALMACEN_VENTA VARCHAR(10),
    @TIPO_MOVIMIENTO VARCHAR(2),
    @TIPO_DOCUMENTO VARCHAR(2),
    @NRO_DOCUMENTO VARCHAR(50),
    @COD_ITEM_2 VARCHAR(50),
    @PROVEEDOR VARCHAR(100) = NULL,
    @ALMACEN_DESTINO VARCHAR(50) = NULL,
    @CANTIDAD INT = NULL,
    @DOC_REF_1 VARCHAR(50) = NULL,
    @DOC_REF_2 VARCHAR(50) = NULL,
    @DOC_REF_3 VARCHAR(50) = NULL,
    @DOC_REF_4 VARCHAR(50) = NULL,
    @DOC_REF_5 VARCHAR(50) = NULL
AS
BEGIN
    INSERT INTO MOV_INVENTARIO (
        COD_CIA,
        COMPANIA_VENTA_3,
        ALMACEN_VENTA,
        TIPO_MOVIMIENTO,
        TIPO_DOCUMENTO,
        NRO_DOCUMENTO,
        COD_ITEM_2,
        PROVEEDOR,
        ALMACEN_DESTINO,
        CANTIDAD,
        DOC_REF_1,
        DOC_REF_2,
        DOC_REF_3,
        DOC_REF_4,
        DOC_REF_5,
        FECHA_TRANSACCION
    )
    VALUES (
        @COD_CIA,
        @COMPANIA_VENTA_3,
        @ALMACEN_VENTA,
        @TIPO_MOVIMIENTO,
        @TIPO_DOCUMENTO,
        @NRO_DOCUMENTO,
        @COD_ITEM_2,
        @PROVEEDOR,
        @ALMACEN_DESTINO,
        @CANTIDAD,
        @DOC_REF_1,
        @DOC_REF_2,
        @DOC_REF_3,
        @DOC_REF_4,
        @DOC_REF_5,
        GETDATE()  
    )
END
GO
USE [master]
GO
